<nav>
  <div class="wrapper">
    <div class="nav-content">
      <div>
        <a href="/" class="home-link">
          <h2>Mystic Shop</h2>
          <h3>An NPC Merchant Inventory Management System</h3>
        </a>
      </div>

      <ul>
        <li><a href="/items" class="nav-link">Items</a></li>
        <li><a href="/categories" class="nav-link">Categories</a></li>
        <li><a href="/rarities" class="nav-link">Rarities</a></li>
      </ul>
    </div>
  </div>
</nav>
