<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <main>
      <div class="hero">
        <div class="wrapper">
          <a href="/items" class="hero-link">View Inventory</a>
        </div>
      </div>
    </main>
  </body>
</html>
