<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <main>
      <div class="wrapper">
        <div>
          <h2>Items</h2>
          <a href="/items/new">New Item</a>
        </div>
      </div>
    </main>
  </body>
</html>
