<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/newItem.css" />
  </head>
  <body>
    <%- include("./partials/navbar")%>

    <main>
      <div class="wrapper">
        <form action="/items/new" method="POST">
          <h2>Add New Item</h2>
          <div class="form-input-container">
            <div>
              <label for="item-name">Item Name:</label>
              <input type="text" id="item-name" name="item-name" />
            </div>

            <div>
              <label for="item-description">Item Description:</label>
              <textarea
                name="item-description"
                id="item-description"
              ></textarea>
            </div>

            <div>
              <label for="item-category">Item Category:</label>
              select here
            </div>

            <div>
              <label for="item-rarity">Item Rarity:</label>
              select here
            </div>

            <div>
              <label for="item-quantity">Item Quantity:</label>
              <input
                type="number"
                name="item-quantity"
                id="item-quantity"
                min="0"
              />
            </div>

            <div>
              <label for="item-gold_cost">Item Cost:</label>
              <input
                type="number"
                name="item-gold_cost"
                id="item-gold_cost"
                min="0"
              />
            </div>

            <div>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
