<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/selectedItem.css" />
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <main>
      <div class="wrapper">
        <p><%= item.item_name %></p>
      </div>
    </main>
  </body>
</html>
