:root {
  --light-blue: #b8cee0;
  --mid-blue: #4c7ba2;
  --dark-blue: #111d27;
  --off-white: #faf9f6;
  --action-green: #4ad66d;
  --action-red: #de2124;
}

body {
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 30px 0;
}

main .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.placeholder {
  font-style: italic;
}

form {
  border: 3px solid var(--dark-blue);
  padding: 20px;
  max-width: 500px;
  margin: 10px auto;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h2 {
  text-align: center;
  font-size: 2rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input label {
  font-size: 1rem;
  font-weight: bold;
}

.form-input input,
.form-input select,
.form-input textarea {
  font-size: 1rem;
  padding: 5px;
  color: var(--dark-blue);
}

.form-input textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 150px;
}

.form-input option {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.form-button {
  text-align: center;
}

.form-button button {
  font-size: 1.2rem;
  padding: 12px 16px;
  background-color: transparent;
  color: var(--action-green);
  border: 2px solid var(--action-green);
  cursor: pointer;
}

.form-button button:hover {
  background-color: var(--action-green);
  color: var(--off-white);
}

.form-errors-container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--action-red);
}

.form-errors-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-error {
  font-size: 1rem;
  line-height: 1.5rem;
  text-wrap: pretty;
  font-weight: bold;
}
