:root {
  --light-blue: #97b5ce;
  --mid-blue: #4c7ba2;
  --dark-blue: #0a1015;
  --off-white: #faf9f6;
}

body {
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 30px;
}

main h2 {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

main a {
  text-decoration: none;
  color: var(--dark-blue);
  border: 4px solid var(--dark-blue);
  padding: 16px 16px;
  font-size: 1.5rem;
  font-weight: bold;
}

main a:hover {
  color: var(--off-white);
  background-color: var(--dark-blue);
}
