:root {
  --light-blue: #97b5ce;
  --mid-blue: #4c7ba2;
  --dark-blue: #111d27;
  --off-white: #faf9f6;
}

nav {
  background-color: var(--dark-blue);
  font-family: monospace;
}

nav .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link,
.home-link {
  color: var(--off-white);
  text-decoration: none;
}

.home-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-link h2 {
  font-size: 2rem;
}

.home-link h3 {
  font-size: 1rem;
  font-style: italic;
}

.nav-content ul {
  display: flex;
  gap: 30px;
}

.nav-link {
  font-size: 1.3rem;
}

@media (width < 800px) {
  .nav-content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
