:root {
  --light-blue: #97b5ce;
  --mid-blue: #4c7ba2;
  --dark-blue: #0a1015;
  --off-white: #faf9f6;
}

body {
  min-height: 100vh;
}

/* Navbar */
nav {
  background-color: var(--dark-blue);
  font-family: monospace;
  height: 100px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link,
.home-link {
  color: var(--off-white);
  text-decoration: none;
}

.home-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-link h2 {
  font-size: 2rem;
}

.home-link h3 {
  font-size: 1rem;
  font-style: italic;
}

.nav-content ul {
  display: flex;
  gap: 30px;
}

.nav-link {
  font-size: 1.3rem;
}

/* Index */

.hero {
  height: calc(100vh - 100px);
  background-image: url("../img/merchant-shop.jpg");
  background-size: cover;
  background-position: center;
}

.hero .wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-link {
  background-color: var(--dark-blue);
  text-decoration: none;
  color: var(--off-white);
  font-family: monospace;
  font-size: 2.75rem;
  border: 3px solid var(--off-white);
  padding: 15px;
}

.hero-link:hover {
  background-color: var(--off-white);
  color: var(--dark-blue);
}
